<h1><span data-i18n="skills.my_skills">Greetings,</span></h1>


<div>
  For those I don't know, welcome! My name is Briana Augenreich, pronounced AW-GEN-WRITE, but you can call me Bri for short. I consider myself a master problem solver specializing in the dark arts of technology...aka a software engineer. I have a deep fascination with exploring and understanding technology. It is a vast and ever-changing field. Its power to create, change lives, and make an impact with a few keystrokes and sprinkle of ingenuity is invigorating. While I love any challenge given, I have a particular interest in backend development and infrastructure engineering.

<br/><br/>
  I do not fit the traditional mold or social construct of the "software engineer". Most who know me would not describe me as particularly nerdy. I crave connections with people over machines. I have not been coding since I was a young girl. And lets be frank, this list of anomalies is nowhere near complete. As a black female software engineer, it is my mission to be an example and an advocate for other "non-traditionals" to feel welcomed in this space, to experience the reward of a problem well solved, and to see a path to success.


<br/><br/>

  When I'm not coding I love exploring the world and nature around me, meeting new people, and moving my body. I do not enjoy early rises, but I manage to energize my 4:45am wake-ups with a traditional hot yoga class or functional strength training session. As a former dancer and arts enthusiast I share my evenings with students teaching dance at a local studio.
  Originally a Virginia native, I currently live in Austin, Texas with my amazing husband and golden retriever. I am so blessed get to do life with these two by my side. They are a true source of joy, love and support.

<br/><br/>

  Thanks again for stopping here, I look forward to sharing my ideas and experiences with you!


</div>
