<h1><span data-i18n="skills.my_skills">Greetings,</span></h1>

<div>
  For those I dont know, welcome! My name is Briana Augenreich, prounounced AW-GEN-WRITE, but you can call me Bri for short.
  I am a problem solver in chief specializing in the dark arts of technology...aka a software engineer. I am consumed with a deep facination and pursuit of knowledge/understanding for technogloy. The world of tech is vast and ever evolving.  The power to create, the ability to change lives, and the rerources to make an impact with a few kesyrtowks of my fingers is invigorating. While I love any challenge given, I have a particular interst in backend/middleware development and infrastructure/devops engineering.

<br/><br/>
  I do not fit the traditional mold or social construct of the "software engineer". I do not enjoy video games. Most who know me wouldnt describe me as particularly nerdy. I crave connections with peoples over machines. I have not been coding since I was a young girl. And I am clearly not a young white man.
  As a black female software engineer, it is my mission to be an example and an advocate for "non-traditional" engineers to feel welcomed in this space, to expereince the thrill of the tech industry, and to see a path to sucess as a software engineer.

<br/><br/>

  While on the varsity dance team, I pursued a Bachelors of Science in Computer Science at Virginia Tech. And yes I'm still a die hard hokie fan! I also made an honest attempt at a Masters in CS from Georgia Tech (maybe one day I'll find the prime opportunity to see this through) and continue to challenge myself to grow and learn daily.

<br/><br/>

  When I'm not coding I love exploring the world and nature around me, meeting new people, and moving my body. I do not enjoy early rises. But I manage to energize my 4:45 wake-ups with a traditional hot yoga class or functional strength training session. As a former dancer and arts enthusiast (hence the blog name) I share my evenings with students teaching dance at a local studio.
  A Virginia native, I currerntly live in Austin, Texas with my amazing husband and golden retriever. I am so blessed get to do life with these two by my side, they are a true source of joy, love and support.

<br/><br/>

  Thanks again for stopping here, I look forward to sharing my ideas and expereinces with you!


</div>
